*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;
}
header {
    background-color: #E2EEFF; 
    padding: 15px 20px; 
    display: flex; /* Menggunakan flexbox untuk mengatur tata letak elemen di dalamnya */
    align-items: center; /* Membuat elemen vertikal berada di tengah */
    justify-content: space-between; /* Memberikan ruang yang sama di antara elemen */
}
.logo-container {
    display: flex; /* Enable flexbox for alignment */
    align-items: center; /* Vertically align items in the center */
  } 

.logo-container img {
    height: 80px;
    /* Atur tinggi logo sesuai kebutuhan */
}


header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 45px;
    
}

.button-container .download-button {
    background-color: #ffffff; /* Warna latar belakang tombol */
    color: rgb(0, 0, 0); /* Warna teks tombol */
    padding: 15px 30px; /* Ruang di dalam tombol */
    border: none; /* Menghilangkan border tombol */
    border-radius: 20px; /* Membuat sudut tombol menjadi sedikit melengkung */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat dihover */
    font-weight: bold;
    font-size: 15px;
}

.button-container .download-button:hover {
    background-color: #ffffff; /* Warna latar belakang tombol saat dihover */
}







footer {
    display: flex;
    justify-content: center;
}
.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    position: fixed; /* Membuat footer tetap di viewport */
    bottom: 0; /* Menempatkan footer di bagian bawah */
    left: 0; /* Membuat footer membentang dari kiri */
    width: 100%; /* Membuat footer membentang selebar viewport */
}
.title-footer h2 {
    border-bottom: 3px solid #000; /* Gaya garis vertikal */
    height: 40px; /* Tinggi garis vertikal */
    margin: 20px; /* Margin kiri dan kanan untuk memberi jarak dari elemen lain */
}
