*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;
}
header {
    background-color: #f0f0f0; 
    padding: 15px 20px; 
    display: flex; /* Menggunakan flexbox untuk mengatur tata letak elemen di dalamnya */
    align-items: center; /* Membuat elemen vertikal berada di tengah */
    justify-content: space-between; /* Memberikan ruang yang sama di antara elemen */
}
.logo-container {
    display: flex; /* Enable flexbox for alignment */
    align-items: center; /* Vertically align items in the center */
  } 

.logo-container img {
    height: 100px;
    /* Atur tinggi logo sesuai kebutuhan */
}


header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 45px;
    
}

.button-container .download-button {
    background-color: #007bff; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    padding: 10px 15px; /* Ruang di dalam tombol */
    border: none; /* Menghilangkan border tombol */
    border-radius: 5px; /* Membuat sudut tombol menjadi sedikit melengkung */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat dihover */
    font-weight: bold;
}

.button-container .download-button:hover {
    background-color: #0056b3; /* Warna latar belakang tombol saat dihover */
}